@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@viewport {
  zoom: 1;
  width: extend-to-zoom;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1;
}

a {
  text-decoration: none;
  color: #24ae8f;
}

/* @media (min-width: 350px) {
    #fontIcons {
        margin-left: 6rem;
    }
    
} */

.container {
  min-height: 60rem;
  width: 100%;
  display: grid;
  place-content: center;
  text-align: center;
  color: #24ae8f;
  font-family: "Source Sans Pro", monospace;
  font-size: 2.5rem;
  width: min(100%);
  flex-wrap: wrap;
}

.container-fluid {
  display: flex;
  flex-wrap: wrap;
}

.name-head {
  font-size: clamp(3rem, 7vmin, 3rem);
  /* font-size: 50px; */
  position: relative;
  font-family: "Source Sans Pro", monospace;
  margin-bottom: 30rem;
}

.name-head::before,
.name-head::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.name-head::before {
  background-image: url(./Assets/green-sun.jpg);
  animation: typewriter 3.5s steps(39) forwards;
}

.name-head::after {
  width: 0.124em;
  background: #24ae8f;
  animation: typewriter 3.5s steps(39) forwards, blink 675ms steps(39) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

#name {
  background-image: url(./Assets/green-sun.jpg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  position: relative;
  /* scroll-behavior: smooth; */
}

body {
  background-color: #1c1c1c;
}

/* .fixed-top {
    background-color:rgba(20, 30, 50, 0.8);
} */

.navbar {
  border: 3px solid #24ae8f;
  border-radius: 5px 5px;
  /* background-color: black; */
  background-color: #1c1c1c;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar-brand {
  color: #24ae8f;
}

.navbar-brand:hover {
  color: #7308f5;
}

.icon-img {
  order: -1;
}

/* .icon-img:hover {
    color: #7308f5;
} */

.nav-link {
  color: #24ae8f;
}

.nav-link:hover {
  color: #7308f5;
}

.card {
  border: 3px solid #24ae8f;
  margin: 1rem;
}

.card-title {
  font-weight: bold;
  color: #24ae8f;
}

.card-body {
  background-color: black;
  color: white;
  box-shadow: 0px 15px 30px #24ae8f;
}

.card-img-top {
  min-height: 100%;
  min-width: 100%;
  transition: 0.3s ease;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* box-shadow: 0px 15px 30px #24ae8f; */
}

#cards {
  background-color: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3.125rem;
}

/* .card-img-top-cat {
    width: auto;
    transition: .3s ease ;
} */

.card-img-top:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
}

.card-img-top:hover {
  transform: scale(1.2);
}

.card-img-top-cat:hover {
  transform: scale(1.2);
}

/* .card-img-top-left {
    image-orientation: flip;
} */

.btn {
  background-color: #24ae8f;
  color: black;
  padding: 6px 12px;
  border: 2px solid transparent;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.btn:hover {
  background-color: transparent;
  border: 2px solid #24ae8f;
  color: white;
}

#about-me {
  margin-top: 3.125rem;
}

#name {
  color: white;
}

#web-dev {
  color: white;
}

.about-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  /* width: 100%; */
}

.about-heading2 {
  font-size: 1.875rem;
  padding: 0.625rem;
}

.about-heading {
  color: white;
  font-size: 3.75rem;
}

.skills {
  font-size: 3rem;
  color: white;
  margin-top: 1.25rem;
}

#me {
  color: #24ae8f;
}

#aspiring {
  color: #24ae8f;
}

#eleven {
  color: white;
}

#computer {
  color: white;
}

#contact-me {
  color: white;
}

#contact-me:hover {
  background-color: transparent;
  color: #7308f5;
}

/* #github {
    
} */

.about-description {
  margin-left: 25rem;
  margin-right: 25rem;
  color: #24ae8f;
  letter-spacing: 0.125rem;
  width: min(75%);
  /* font-size: clamp(1rem, 2vmin, 1rem); */
}

.about-description2 {
  /* margin-left: 100px;
    margin-right: 100px; */
  color: #24ae8f;
  letter-spacing: 2px;
  margin-left: 10rem;
  margin-right: 10rem;
  width: min(55%);
}

#fontIcons {
  font-size: 6rem;
  margin-top: 1.875rem;
  color: #24ae8f;
  display: flex;
  flex-wrap: wrap;
  letter-spacing: 2px;
  justify-content: space-between;
  min-width: 18rem;
  min-height: 10rem;
}

/* #contact-me-icons {
    font-size: 6rem;
    display: flex;
    flex-wrap: wrap;   
    min-width: 18rem;
    min-height: 10rem;
}

#contact-me-icons > i {
    margin: 2rem;
}

#linkedin {
    color: #0077b7;
} */

#fontIcons > i {
  margin: 0.3rem;
}

#html5 {
  color: #fa502e;
}

#js {
  color: #f0db4f;
}

#css {
  color: #1a73ba;
}

#bootstrap {
  color: #7308f5;
}

.about-btn {
  border-radius: 30px;
  background-color: black;
  color: #24ae8f;
  padding: 12px 24px;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: bold;
  margin-top: 2.5rem;
  transition: all 0.3s ease-in-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.about-btn:hover {
  background-color: transparent;
  border: 2px solid #24ae8f;
}

#my-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #24ae8f;
  border: 0.188rem solid #24ae8f;
  border-radius: 1.25rem 1.25rem;
  background: black;
  /* width: 100px;
    height: 100px; */
  margin: auto;
  margin-top: 18rem;
  margin-bottom: 15rem;
  width: min(35%);
  min-width: 20rem;
  min-height: 20rem;
  box-shadow: 0px 7px 15px #24ae8f;
}

#contact-head {
  color: black;
  font-size: 1.7rem;
  font-weight: bold;
}

#formbutton-title {
  border-radius: 0.75rem 0.75rem 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-width: 3rem;
  min-height: 3rem;
  justify-content: center;
}

#form-container {
  display: flex;
  flex-wrap: wrap;
}

.my-form-button {
  border-radius: 5px 5px 5px 5px;
  background-color: #24ae8f;
  color: black;
  padding: 6px 12px;
  margin-top: 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.my-form-button:hover {
  background-color: black;
  border: 2px solid #24ae8f;
  color: white;
}

#txtArea {
  min-width: 55%;
  max-width: 55%;
  min-height: 40%;
  max-height: 40%;
}

#message {
  padding: 1.563rem;
}

#cards-header {
  color: #24ae8f;
  display: flex;
  justify-content: center;
  margin-top: 18.75rem;
  font-size: 3.125rem;
}
